{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Error Handling/should handle invalid column data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "74469a1ef8227c1068444b431ef0a976",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"error-test-1234\",\"description\":\"Temporary dataset for error testing\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 228,
            "text": "{\"id\":\"cmeq8gm6k009m01y146v31efd\",\"slug\":\"error-test-1234\",\"name\":\"error-test-1234\",\"description\":\"Temporary dataset for error testing\",\"created_at\":\"2025-08-24T22:01:35.564025174Z\",\"updated_at\":\"2025-08-24T22:01:35.564025228Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 188,
      },
      {
        "_id": "1db47fac6d8b759c651a339069302b13",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/error-test-1234"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 212,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
