{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Error Handling/should handle invalid column data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "986cb3532e905e7ce6c51c8a624cf228",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"error-test-1234\",\"description\":\"Temporary dataset for error testing\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 228,
            "text": "{\"id\":\"cmnrfx72h001301u8o5fvme90\",\"slug\":\"error-test-1234\",\"name\":\"error-test-1234\",\"description\":\"Temporary dataset for error testing\",\"created_at\":\"2026-04-09T12:15:33.641507796Z\",\"updated_at\":\"2026-04-09T12:15:33.641507849Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 153,
      },
      {
        "_id": "08dcb0b3c3f9fa064bbe1d81b8bd3673",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/error-test-1234"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 152,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
