{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should add row with attachment column (gracefully degrades when upload endpoint unavailable)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "073eb84add402fb5e356cfe6736f995e",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 367,
            "text": "{\"id\":\"cmnvl47hx000001ws87efct3i\",\"slug\":\"attachment-test-dataset\",\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\",\"columns\":{\"document\":{\"name\":\"document\",\"type\":\"file\"},\"name\":{\"name\":\"name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2026-04-12T09:52:03.573Z\",\"updated_at\":\"2026-04-12T09:52:04.361Z\",\"rows\":[],\"total_rows\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 152,
      },
      {
        "_id": "5a7d004598cea909657b74b7a57290f9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"name\":\"Test Document\",\"document\":null}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"rows\":[{\"id\":\"cmnvl48cb000101wsiqo5lbgq\",\"row_index\":1,\"values\":{\"document\":null,\"name\":\"Test Document\"},\"created_at\":\"2026-04-12T09:52:04.669336973Z\",\"updated_at\":\"2026-04-12T09:52:04.669336973Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 154,
      },
      {
        "_id": "982cd5fc38678c234e7ef8f66d922030",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"file\",\"url\":\"https://example.com/sample.pdf\",\"metadata\":{\"pages\":10}}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows/cmnvl48cb000101wsiqo5lbgq/cells/document/external-url"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 18,
            "text": "404 page not found"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
