{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should create a dataset with file column type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b9c1c923e4565c0deb77174bf3e1c78f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.22.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 24,
            "text": "{\"error\":\"Unauthorized\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 381,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
