{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should create a dataset with file column type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bc5d2be901fe10cae616d8d234872e03",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.21.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 239,
            "text": "{\"id\":\"cmieo347e000c01r7u2vdtwej\",\"slug\":\"attachment-test-dataset\",\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\",\"created_at\":\"2025-11-25T14:24:34.82641967Z\",\"updated_at\":\"2025-11-25T14:24:34.826419742Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 510,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
