{
  "log": {
    "_recordingName": "Test Dataset API Recording/Dataset Creation and Management/should get dataset by slug",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "045531fd021b3d9f1e6444af8b0d0f67",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t09-09-31-191z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 261,
            "text": "{\"id\":\"cmdzqyeoi00r101u4q8wmcdi0\",\"slug\":\"test-dataset-2025-08-06t09-09-31-191z\",\"name\":\"test-dataset-2025-08-06T09-09-31-191Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-06T09:09:31.987Z\",\"updated_at\":\"2025-08-06T09:09:31.987Z\",\"rows\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 179,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
