{
  "log": {
    "_recordingName": "Test Dataset API Recording/Dataset Creation and Management/should get dataset by slug",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c2b1183f140ef73cf3f4fba7dd751964",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t10-06-51-685z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 261,
            "text": "{\"id\":\"cmdzt05aq00sk01u49lcdcubv\",\"slug\":\"test-dataset-2025-08-06t10-06-51-685z\",\"name\":\"test-dataset-2025-08-06T10-06-51-685Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-06T10:06:52.371Z\",\"updated_at\":\"2025-08-06T10:06:52.371Z\",\"rows\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
