{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Column Operations/should add columns to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "72ffde74183da5d825bda15906543f4f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"name\",\"type\":\"string\",\"required\":true,\"description\":\"Name column\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-2025-08-11t08-38-49-772z/columns"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64,
            "text": "{\"id\":\"cme6v27xq000w01ug2dlhzmul\",\"name\":\"name\",\"type\":\"string\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "6d1d8c76403f940972d4b4acaaf8cca8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"score\",\"type\":\"number\",\"required\":false,\"description\":\"Score column\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-2025-08-11t08-38-49-772z/columns"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 65,
            "text": "{\"id\":\"cme6v282v000x01ugkxh7zfe2\",\"name\":\"score\",\"type\":\"number\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
