{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Column Management/should add columns to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7748863a2f0df686ab9c15f5c1032075",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 288,
            "text": "{\"id\":\"cmnrfx17l000u01u8iem2fnhs\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"Updated Comprehensive Test Dataset\",\"description\":\"Updated description for comprehensive testing\",\"created_at\":\"2026-04-09T12:15:26.05Z\",\"updated_at\":\"2026-04-09T12:15:26.649Z\",\"rows\":[],\"total_rows\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148,
      },
      {
        "_id": "749c8f61af88d46a323101f0b6dfe918",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"name\",\"type\":\"string\",\"description\":\"Name field\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example/columns"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 45,
            "text": "{\"slug\":\"name\",\"name\":\"name\",\"type\":\"string\"}"
          },
          "headers": [
            {
              "name": "content-type",
       [...]
