# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
.rollup.cache

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
lerna-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

# NX
.nx

# env
.env*
chroma.sqlite3
chroma.log