{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should add row with buffer attachment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "073eb84add402fb5e356cfe6736f995e",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 545,
            "text": "{\"id\":\"cmnrfwzbp000q01u81hl45q6m\",\"slug\":\"attachment-test-dataset\",\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\",\"columns\":{\"document\":{\"name\":\"document\",\"type\":\"file\"},\"name\":{\"name\":\"name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2026-04-09T12:15:23.605Z\",\"updated_at\":\"2026-04-09T12:15:24.386Z\",\"rows\":[{\"id\":\"cmnrfx05v000r01u86xmgq1pn\",\"row_index\":1,\"values\":{\"document\":null,\"name\":\"Test Document\"},\"created_at\":\"2026-04-09T12:15:24.695Z\",\"updated_at\":\"2026-04-09T12:15:24.695Z\"}],\"total_rows\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      },
      {
        "_id": "a605c107a6dee481d6590ab11157ac29",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"name\":\"Buffer Test\",\"document\":null}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 209,
            "text": "{\"rows\":[{\"id\":\"cmnrfx0ij000s01u8vka1uzn6\",\"row_index\":2,\"values\":{\"document\":null,\"name\":\"Buffer Test\"},\"created_at\":\"2026-04-09T12:15:25.149252005Z\",\"updated_at\":\"2026-04-09T12:15:25.149252005Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 155,
      },
      {
        "_id": "e35b10bf8ccc02093ca50bd187236f0c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"file\",\"file_name\":\"test.txt\",\"content_type\":\"text/plain\",\"metadata\":{\"size\":28}}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows/cmnrfx0ij000s01u8vka1uzn6/cells/document/upload-url"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 18,
            "text": "404 page not found"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 146,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
