{
  "log": {
    "_recordingName": "Test Dataset API Recording/Dataset Creation and Management/should update dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4f334f1b9977bdaac09947432667c7fa",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t10-00-27-814z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 261,
            "text": "{\"id\":\"cmdzsrx8600se01u4berl6ga6\",\"slug\":\"test-dataset-2025-08-06t10-00-27-814z\",\"name\":\"test-dataset-2025-08-06T10-00-27-814Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-06T10:00:28.663Z\",\"updated_at\":\"2025-08-06T10:00:28.663Z\",\"rows\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      },
      {
        "_id": "a3585ec9057805566ec69a6d68be4811",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"Updated description for recording test\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t10-00-27-814z"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
