{
  "log": {
    "_recordingName": "Test Dataset API Recording/Dataset Creation and Management/should update dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "78c9d0bf05882a9d36ee2f59b9dcfcc8",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t09-45-23-083z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 261,
            "text": "{\"id\":\"cmdzs8j0x00s901u4q1ygbcsl\",\"slug\":\"test-dataset-2025-08-06t09-45-23-083z\",\"name\":\"test-dataset-2025-08-06T09-45-23-083Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-06T09:45:23.794Z\",\"updated_at\":\"2025-08-06T09:45:23.794Z\",\"rows\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "ccc50104319d85c1201ad29893d1bbd5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"Updated description for recording test\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t09-45-23-083z"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
