{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Row Operations/should get rows from dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2aa9974f442751b3504bda4d954397c7",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-2025-08-11t08-38-49-772z/rows?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 868,
            "text": "{\"rows\":[{\"id\":\"cme6v28nr000y01ugysvl235n\",\"row_index\":1,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"John Doe\",\"cme6v282v000x01ugkxh7zfe2\":85},\"created_at\":\"2025-08-11T08:38:52.505Z\",\"updated_at\":\"2025-08-11T08:38:52.505Z\"},{\"id\":\"cme6v28y2000z01ugrjuqwdqu\",\"row_index\":2,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"Jane Smith\",\"cme6v282v000x01ugkxh7zfe2\":92},\"created_at\":\"2025-08-11T08:38:52.876Z\",\"updated_at\":\"2025-08-11T08:38:52.876Z\"},{\"id\":\"cme6v28y2001001ugrw3jm9kv\",\"row_index\":3,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"Bob Johnson\",\"cme6v282v000x01ugkxh7zfe2\":78},\"created_at\":\"2025-08-11T08:38:52.876Z\",\"updated_at\":\"2025-08-11T08:38:52.876Z\"},{\"id\":\"cme6v28y2001101ug06wd09ut\",\"row_index\":4,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"Alice Brown\",\"cme6v282v000x01ugkxh7zfe2\":95},\"created_at\":\"2025-08-11T08:38:52.876Z\",\"updated_at\":\"2025-08-11T08:38:52.876Z\"}],\"total\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
