{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should set attachment on existing row",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "073eb84add402fb5e356cfe6736f995e",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.21.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2945,
            "text": "{\"id\":\"cmieo347e000c01r7u2vdtwej\",\"slug\":\"attachment-test-dataset\",\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\",\"columns\":{\"document\":{\"name\":\"document\",\"type\":\"file\"},\"name\":{\"name\":\"name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2025-11-25T14:24:34.826Z\",\"updated_at\":\"2025-11-25T14:24:35.652Z\",\"rows\":[{\"id\":\"cmieo3534000d01r7ii2j55ap\",\"row_index\":1,\"values\":{\"document\":{\"metadata\":{\"content_type\":\"\",\"created_at\":\"2025-11-25T14:24:36Z\",\"file_name\":\"\",\"pages\":10},\"status\":\"success\",\"storage\":\"external\",\"type\":\"file\",\"url\":\"https://example.com/sample.pdf\"},\"name\":\"Test Document\"},\"created_at\":\"2025-11-25T14:24:35.97Z\",\"updated_at\":\"2025-11-25T14:24:36.137Z\"},{\"id\":\"cmieo35gk000e01r76y2ahqgk\",\"row_index\":2,\"values\":{\"document\":{\"metadata\":{\"content_type\":\"text/plain\",\"created_at\":\"2025-11-25T14:24:36Z\",\"file_name\":\"test.txt\",\"size\":28,\"uploaded_at\":\"2025-11-25T14:24:37Z\"},\"status\":\"success\",\"storage\":\"internal\",\"storage_key\":\"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/f8de4de0-197c-4a52-a5f7-40878bf47a42.txt\",\"type\":\"file\",\"url\":\"https://traceloop-staging-files.s3.amazonaws.com/c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/f8de4de0-197c-4a52-a5f7-40878bf47a42.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256\\u0026X-Amz-Credential=ASIAQEMAC2MSU3CMXL7B%2F20251125%2Fus-east-1%2Fs3%2Faws4_request\\u0026X-Amz-Date=20251125T142437Z\\u0026X-Amz-Expires=3600\\u0026X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKb%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzL[...]
