{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Basic Dataset Operations/should create a new dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe1b2f351df39e03876b4c594eca17d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.6"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-2025-08-11T08-47-38-485Z\",\"description\":\"Test dataset for recording\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 397,
            "text": "{\"id\":\"cme6vdj2m001501ugypcqtizq\",\"org_id\":\"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7\",\"project_id\":\"cm9v2g95l0011z613sv851kwd\",\"slug\":\"test-dataset-2025-08-11t08-47-38-485z\",\"name\":\"test-dataset-2025-08-11T08-47-38-485Z\",\"description\":\"Test dataset for recording\",\"columns\":{},\"last_version\":null,\"created_at\":\"2025-08-11T08:47:39.214370275Z\",\"updated_at\":\"2025-08-11T08:47:39.214370329Z\",\"rows\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 778,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
