{
  "log": {
    "_recordingName": "Test Pinecone instrumentation/should set attributes in span for DB upsert",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "973ce6e359a848bafd751dfc6a1cf4eb",
        "request": {
          "headers": [
            {
              "name": "x-pinecone-api-version",
              "value": "2025-04"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1232,
            "text": "{\"indexes\":[{\"name\":\"gpt-4-langchain-docs-fast\",\"vector_type\":\"dense\",\"metric\":\"cosine\",\"dimension\":1536,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"gpt-4-langchain-docs-fast-90c5d9e.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}},\"deletion_protection\":\"disabled\",\"tags\":null},{\"name\":\"traceloop-rag\",\"vector_type\":\"dense\",\"metric\":\"dotproduct\",\"dimension\":1536,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"traceloop-rag-90c5d9e.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}},\"deletion_protection\":\"disabled\",\"tags\":null},{\"name\":\"pinecone-instrumentation-test\",\"vector_type\":\"dense\",\"metric\":\"cosine\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"pinecone-instrumentation-test-90c5d9e.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}},\"deletion_protection\":\"disabled\",\"tags\":null},{\"name\":\"gen-qa-openai-fast\",\"vector_type\":\"dense\",\"metric\":\"cosine\",\"dimension\":1536,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"gen-qa-openai-fast-90c5d9e.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}},\"deletion_protection\":\"disabled\",\"tags\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "57a8174705454684a8bcc2d80e5fc496"
            },
            {
              "name": "x-pinecone-api-version",
              "value": "2025-04"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 281,
      },
      {
        "_id": "09e0d0589975db79fdf8c74bbcdea2a5",
        "request": {
          "headers": [
            {
              "name": "x-pinecone-api-version",
              "value": "2025-04"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes/pinecone-instrumentation-test"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 316[...]
