{
  "log": {
    "_recordingName": "Test Pinecone instrumentation/should set attributes in span for DB upsert",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "211ce6a3821dc82cf567743073ec50a6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes/tests"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 204,
            "text": "{\"name\":\"tests\",\"metric\":\"euclidean\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"tests-wujirot.svc.apw5-4e34-81fa.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-west-2\",\"cloud\":\"aws\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "a5c4636b1a9d2634df43ef54b77624d3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4952,
      },
      {
        "_id": "f66a36afd832b48fbd5bc0354289943f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"deleteAll\":true,\"namespace\":\"ns1\"}"
          },
          "queryString": [],
          "url": "https://tests-wujirot.svc.apw5-4e34-81fa.pinecone.io/vectors/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-status",
              "value": "0"
            },
            {
              "name": "x-pinecone-request-latency-ms",
              "value": "22"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3574,
      },
      {
        "_id": "06c4c271f12bc4fc8462a05bfee87380",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"vectors\":[{\"id\":\"vec1\",\"values\":[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]},{\"id\":\"vec2\",\"values\":[0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2]},{\"id\":\"vec3\",\"values\":[0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3],\"metadata\":{\"test_meta\":42}},{\"id\":\"vec4\",\"values\":[0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4]}],\"namespace\":\"ns1\"}"
          },
          "queryString": [],
          "url": "https://tests-wujirot.svc.apw5-4e34-81fa.pinecone.io/vectors/upsert"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 19,
            "text": "{\"upsertedCount\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-status",
              "value": "0"
            },
            {
              "name": "x-pinecone-request-latency-ms",
              "value": "57"
            },
            {
              "name": "x-pinecone-request-lsn",
              "value": "1"
            }
          ],
          "status": 200,
     [...]
