{
  "log": {
    "_recordingName": "Dataset Integration Test/should create and manage a dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ff3dd54183a7027e870ba3628de80045",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"integration-test-2025-08-07T08-56-39-202Z\",\"description\":\"Integration test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 398,
            "text": "{\"id\":\"cme15xpja001e010r365vy53i\",\"orgId\":\"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7\",\"projectId\":\"cm9v2g95l0011z613sv851kwd\",\"slug\":\"integration-test-2025-08-07t08-56-39-202z\",\"name\":\"integration-test-2025-08-07T08-56-39-202Z\",\"description\":\"Integration test dataset\",\"columns\":{},\"lastVersion\":null,\"createdAt\":\"2025-08-07T08:56:39.814026957Z\",\"updatedAt\":\"2025-08-07T08:56:39.814027044Z\",\"rows\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 635,
      },
      {
        "_id": "7f251ac726ed461c1c2d9e58c8d20e85",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/integration-test-2025-08-07t08-56-39-202z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 267,
            "text": "{\"id\":\"cme15xpja001e010r365vy53i\",\"slug\":\"integration-test-2025-08-07t08-56-39-202z\",\"name\":\"integration-test-2025-08-07T08-56-39-202Z\",\"description\":\"Integration test dataset\",\"created_at\":\"2025-08-07T08:56:39.814Z\",\"updated_at\":\"2025-08-07T08:56:39.814Z\",\"rows\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 205,
      },
      {
        "_id": "ed97a36d318577ba401afac80d6f8c86",
        "request": {
        [...]
