{
  "log": {
    "_recordingName": "Dataset Integration Test/should create and manage a dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f29ba217fe72b5b66a21a97136794c5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"integration-test-2025-08-06T10-09-52-844Z\",\"description\":\"Integration test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 398,
            "text": "{\"id\":\"cmdzt40ts00t001u4888hjdyp\",\"orgId\":\"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7\",\"projectId\":\"cm9v2g95l0011z613sv851kwd\",\"slug\":\"integration-test-2025-08-06t10-09-52-844z\",\"name\":\"integration-test-2025-08-06T10-09-52-844Z\",\"description\":\"Integration test dataset\",\"columns\":{},\"lastVersion\":null,\"createdAt\":\"2025-08-06T10:09:53.200196775Z\",\"updatedAt\":\"2025-08-06T10:09:53.200196833Z\",\"rows\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 305,
      },
      {
        "_id": "163e6a9f219777f5410e3a2199aae75b",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/integration-test-2025-08-06t10-09-52-844z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 263,
            "text": "{\"id\":\"cmdzt40ts00t001u4888hjdyp\",\"slug\":\"integration-test-2025-08-06t10-09-52-844z\",\"name\":\"integration-test-2025-08-06T10-09-52-844Z\",\"description\":\"Integration test dataset\",\"created_at\":\"2025-08-06T10:09:53.2Z\",\"updated_at\":\"2025-08-06T10:09:53.2Z\",\"rows\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 529,
      },
      {
        "_id": "d6b8a3c67ddbe5cbeb0990032c602831",
        "request": {
          [...]
