{
  "log": {
    "_recordingName": "Test Dataset API Recording/Dataset Creation and Management/should create a new dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cc0ec6c8faadacdae92311d3ae4d2b12",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-2025-08-06T09-09-31-191Z\",\"description\":\"Test dataset for recording\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 392,
            "text": "{\"id\":\"cmdzqyeoi00r101u4q8wmcdi0\",\"orgId\":\"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7\",\"projectId\":\"cm9v2g95l0011z613sv851kwd\",\"slug\":\"test-dataset-2025-08-06t09-09-31-191z\",\"name\":\"test-dataset-2025-08-06T09-09-31-191Z\",\"description\":\"Test dataset for recording\",\"columns\":{},\"lastVersion\":null,\"createdAt\":\"2025-08-06T09:09:31.986667665Z\",\"updatedAt\":\"2025-08-06T09:09:31.986667718Z\",\"rows\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 731,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
