{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Dataset Management/should create a new dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb0cffba02a3a8eb7c2c1180f63975f6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-comprehensive-example\",\"description\":\"Comprehensive test dataset\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 257,
            "text": "{\"id\":\"cmnrfx17l000u01u8iem2fnhs\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"test-dataset-comprehensive-example\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2026-04-09T12:15:26.049977783Z\",\"updated_at\":\"2026-04-09T12:15:26.049977847Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
