{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe1b2f351df39e03876b4c594eca17d8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-comprehensive-1754994562871\",\"description\":\"Comprehensive test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 269,
            "text": "{\"id\":\"cme8eg7yk000101vy1fuoy3jo\",\"slug\":\"test-dataset-comprehensive-1754994562871\",\"name\":\"test-dataset-comprehensive-1754994562871\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T10:29:23.660557366Z\",\"updated_at\":\"2025-08-12T10:29:23.660557434Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 731,
      },
      {
        "_id": "77c6eae56f1832bb0a2541e2ee1bd083",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/datasets?page=1&limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2461,
            "text": "{\"datasets\":[{\"id\":\"cme8eg7yk000101vy1fuoy3jo\",\"slug\":\"test-dataset-comprehensive-1754994562871\",\"name\":\"test-dataset-comprehensive-1754994562871\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T10:29:23.661Z\",\"updated_at\":\"2025-08-12T10:29:23.661Z\"},{\"id\":\"cme8abhnb006w0105neg5n7ub\",\"slug\":\"openai-translation-example\",\"name\":\"Translation Results\",\"description\":\"Dataset of text translations generated using AI\",\"created_at\":\"2025-08-12T08:33:44.4[...]
