{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe1b2f351df39e03876b4c594eca17d8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.6"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-comprehensive-1754918339485\",\"description\":\"Comprehensive test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 403,
            "text": "{\"id\":\"cme752h6v002j01woavulrhw2\",\"org_id\":\"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7\",\"project_id\":\"cm9v2g95l0011z613sv851kwd\",\"slug\":\"test-dataset-comprehensive-1754918339485\",\"name\":\"test-dataset-comprehensive-1754918339485\",\"description\":\"Comprehensive test dataset\",\"columns\":{},\"last_version\":null,\"created_at\":\"2025-08-11T13:18:59.719533809Z\",\"updated_at\":\"2025-08-11T13:18:59.719533861Z\",\"rows\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 249,
      },
      {
        "_id": "77c6eae56f1832bb0a2541e2ee1bd083",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.6"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/datasets?page=1&limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 921,
            "text": "{\"datasets\":[{\"id\":\"cme752h6v002j01woavulrhw2\",\"slug\":\"test-dataset-comprehensive-1754918339485\",\"name\":\"test-dataset-comprehensive-1754918339485\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-11T13:18:59.72Z\",\"updated_at\":\"2025-08-11T13:18:59.72Z\"},{\"id\":\"cme752dji002c01wofwflehk3\",\"slug\":\"sdk-example-1\",\"name\":\"Employee Dataset\",\"description\":\"Sample employee data for demonstration\",\"created_at\":\"2025-08-11T13:18:54.991Z\",\"updated_at\":\"2025-08-11T13:18:59.116Z\"},{\"id\":\"cme72ojvg001n01xlyv0x9j5y\",\"slug\":\"example-2\",\"name\":\"Product Inventory\",\"description\":\"Sample product inventory data\",\"created_at\":\"2025-08-11T12:12:10.781Z\",\"updated_at\":\"2025-08-11T12:12:15.195Z\"},{\"id\":\"cme72ofpe001g01xltgdnpafm\",\"slug\":\"example-1\",\"name\":\"Employee Dataset\",\"description\":\"Sample employee data for demonstration\",\"created_at\":\"2025-08-11T12:12:05.379Z\",\"updated_at\":\"2025-08-11T12:12:09.463Z\"}],\"total\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "48e3cd4fffa0a9789287fd99d9fb41f9",
        "request": {
          "headers": [
            {
          [...]
