{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe1b2f351df39e03876b4c594eca17d8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-comprehensive-1754986828789\",\"description\":\"Comprehensive test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 269,
            "text": "{\"id\":\"cme89ugaw004c0105ipe5vexe\",\"slug\":\"test-dataset-comprehensive-1754986828789\",\"name\":\"test-dataset-comprehensive-1754986828789\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T08:20:29.576272561Z\",\"updated_at\":\"2025-08-12T08:20:29.576272616Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 683,
      },
      {
        "_id": "77c6eae56f1832bb0a2541e2ee1bd083",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/datasets?page=1&limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1951,
            "text": "{\"datasets\":[{\"id\":\"cme89ugaw004c0105ipe5vexe\",\"slug\":\"test-dataset-comprehensive-1754986828789\",\"name\":\"test-dataset-comprehensive-1754986828789\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T08:20:29.576Z\",\"updated_at\":\"2025-08-12T08:20:29.576Z\"},{\"id\":\"cme7h2v4d003g0105grqt6cmn\",\"slug\":\"test-rows-1754938511\",\"name\":\"Test Rows Dataset\",\"description\":\"Dataset for testing row operations\",\"created_at\":\"2025-08-11T18:55:13.165Z\",\"updated_at\":[...]
