{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe1b2f351df39e03876b4c594eca17d8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.6"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-comprehensive-1754911901210\",\"description\":\"Comprehensive test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 401,
            "text": "{\"id\":\"cme718hqt000001wjjyqorbm6\",\"org_id\":\"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7\",\"project_id\":\"cm9v2g95l0011z613sv851kwd\",\"slug\":\"test-dataset-comprehensive-1754911901210\",\"name\":\"test-dataset-comprehensive-1754911901210\",\"description\":\"Comprehensive test dataset\",\"columns\":{},\"last_version\":null,\"created_at\":\"2025-08-11T11:31:41.909998546Z\",\"updated_at\":\"2025-08-11T11:31:41.9099986Z\",\"rows\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 767,
      },
      {
        "_id": "77c6eae56f1832bb0a2541e2ee1bd083",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.6"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/datasets?page=1&limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 922,
            "text": "{\"datasets\":[{\"id\":\"cme70q91e0001yup0iqkwcx6v\",\"slug\":\"example-5\",\"name\":\"Employee Dataset\",\"description\":\"Sample employee data for demonstration\",\"created_at\":\"2025-08-11T14:17:30.819Z\",\"updated_at\":\"2025-08-11T14:17:30.819Z\"},{\"id\":\"cme6zvx3r0000yup0jhgfnq1d\",\"slug\":\"daatset-1\",\"name\":\"Data by Nina\",\"description\":\"ho\",\"created_at\":\"2025-08-11T13:53:55.672Z\",\"updated_at\":\"2025-08-11T13:53:55.672Z\"},{\"id\":\"cme718hqt000001wjjyqorbm6\",\"slug\":\"test-dataset-comprehensive-1754911901210\",\"name\":\"test-dataset-comprehensive-1754911901210\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-11T11:31:41.91Z\",\"updated_at\":\"2025-08-11T11:31:41.91Z\"},{\"id\":\"cme6ztbrc000001v1kwbpz8qn\",\"slug\":\"test-dataset-2025-08-11t10-51-54-010z\",\"name\":\"test-dataset-2025-08-11T10-51-54-010Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-11T10:51:54.696Z\",\"updated_at\":\"2025-08-11T10:51:54.696Z\"}],\"total\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      },
      {
        "_id": "5bf62e3a1e09402e03d3134536dec192",
        "request": {
          "headers": [
            {
          [...]
