{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe1b2f351df39e03876b4c594eca17d8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-comprehensive-1755024726603\",\"description\":\"Comprehensive test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 269,
            "text": "{\"id\":\"cme8weq1z008k01vy7yv0ae45\",\"slug\":\"test-dataset-comprehensive-1755024726603\",\"name\":\"test-dataset-comprehensive-1755024726603\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T18:52:06.887961726Z\",\"updated_at\":\"2025-08-12T18:52:06.887961778Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 260,
      },
      {
        "_id": "6cb81e217939a9af17d3f1a123e11305",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2742,
            "text": "{\"datasets\":[{\"id\":\"cme8weq1z008k01vy7yv0ae45\",\"slug\":\"test-dataset-comprehensive-1755024726603\",\"name\":\"test-dataset-comprehensive-1755024726603\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T18:52:06.888Z\",\"updated_at\":\"2025-08-12T18:52:06.888Z\"},{\"id\":\"cme8mlvyv0004zpp03drufddk\",\"slug\":\"a\",\"name\":\"aa\",\"created_at\":\"2025-08-12T17:17:44.984Z\",\"updated_at\":\"2025-08-12T18:16:00.687Z\"},{\"id\":\"cme8lqabw0001zpp0jamwsfnm\",\"slug\":\"mimi\",\"n[...]
