{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe1b2f351df39e03876b4c594eca17d8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"test-dataset-comprehensive-1754998823891\",\"description\":\"Comprehensive test dataset\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 269,
            "text": "{\"id\":\"cme8gzjqt001j01vyc0l2t0t0\",\"slug\":\"test-dataset-comprehensive-1754998823891\",\"name\":\"test-dataset-comprehensive-1754998823891\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T11:40:24.629913436Z\",\"updated_at\":\"2025-08-12T11:40:24.629913511Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 739,
      },
      {
        "_id": "6cb81e217939a9af17d3f1a123e11305",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer tl_9981e7218948437584e08e7b724304d8"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.15.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2459,
            "text": "{\"datasets\":[{\"id\":\"cme8gzjqt001j01vyc0l2t0t0\",\"slug\":\"test-dataset-comprehensive-1754998823891\",\"name\":\"test-dataset-comprehensive-1754998823891\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-12T11:40:24.63Z\",\"updated_at\":\"2025-08-12T11:40:24.63Z\"},{\"id\":\"cme8abhnb006w0105neg5n7ub\",\"slug\":\"openai-translation-example\",\"name\":\"Translation Results\",\"description\":\"Dataset of text translations generated using AI\",\"created_at\":\"2025-08-12T08:33:44.472[...]
