{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Row Management/should get rows from dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7748863a2f0df686ab9c15f5c1032075",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1168,
            "text": "{\"id\":\"cmnrfx17l000u01u8iem2fnhs\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"Updated Comprehensive Test Dataset\",\"description\":\"Updated description for comprehensive testing\",\"columns\":{\"custom-score-slug\":{\"name\":\"Score\",\"type\":\"number\"},\"name\":{\"slug\":\"name\",\"name\":\"Updated Name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2026-04-09T12:15:26.05Z\",\"updated_at\":\"2026-04-09T12:15:27.711Z\",\"rows\":[{\"id\":\"cmnrfx2yh000v01u88pg2roeq\",\"row_index\":1,\"values\":{\"custom-score-slug\":42,\"name\":\"Test Value\"},\"created_at\":\"2026-04-09T12:15:28.315Z\",\"updated_at\":\"2026-04-09T12:15:28.315Z\"},{\"id\":\"cmnrfx36t000w01u8wkpoi40e\",\"row_index\":2,\"values\":{\"custom-score-slug\":0,\"name\":\"Test Value 0\"},\"created_at\":\"2026-04-09T12:15:28.615Z\",\"updated_at\":\"2026-04-09T12:15:28.615Z\"},{\"id\":\"cmnrfx36t000x01u8jqdpxp9o\",\"row_index\":3,\"values\":{\"custom-score-slug\":10,\"name\":\"Test Value 1\"},\"created_at\":\"2026-04-09T12:15:28.615Z\",\"updated_at\":\"2026-04-09T12:15:28.615Z\"},{\"id\":\"cmnrfx36t000y01u8fndebb4r\",\"row_index\":4,\"values\":{\"custom-score-slug\":20,\"name\":\"Test Value 2\"},\"created_at\":\"2026-04-09T12:15:28.615Z\",\"updated_at\":\"2026-04-09T12:15:28.615Z\"}],\"total_rows\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      },
      {
        "_id": "8e2a8b365572a97c53b60510ef3de911",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "[...]
