{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Basic Dataset Operations/should list datasets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5d4a454c1bd6a888f165e93c41758bcc",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.6"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/datasets?page=1&limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"datasets\":[{\"id\":\"cme6ztbrc000001v1kwbpz8qn\",\"slug\":\"test-dataset-2025-08-11t10-51-54-010z\",\"name\":\"test-dataset-2025-08-11T10-51-54-010Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-11T10:51:54.696Z\",\"updated_at\":\"2025-08-11T10:51:54.696Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
