{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Basic Dataset Operations/should list datasets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5d4a454c1bd6a888f165e93c41758bcc",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/datasets?page=1&limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1228,
            "text": "{\"datasets\":[{\"id\":\"cme6sw2w70003fip0hdoaajqh\",\"slug\":\"daatset-1\",\"name\":\"Data by Nina\",\"description\":\"ho\",\"created_at\":\"2025-08-11T10:38:05.864Z\",\"updated_at\":\"2025-08-11T10:38:05.864Z\"},{\"id\":\"cme6stsba0001fip0ivihikw8\",\"slug\":\"daatset-21\",\"name\":\"Data by Nina\",\"description\":\"All of Nina Data\",\"created_at\":\"2025-08-11T10:36:18.839Z\",\"updated_at\":\"2025-08-11T10:36:18.839Z\"},{\"id\":\"cme6sthc90000fip03buwy3xl\",\"slug\":\"daatset-20\",\"name\":\"Data by Nina\",\"description\":\"All of Nina Data\",\"created_at\":\"2025-08-11T10:36:04.617Z\",\"updated_at\":\"2025-08-11T10:36:04.617Z\"},{\"id\":\"cme6s2drq0000eop0lbm8zqmo\",\"slug\":\"daatset-12\",\"name\":\"Data by Nina\",\"description\":\"All of Nina Data\",\"created_at\":\"2025-08-11T10:15:00.279Z\",\"updated_at\":\"2025-08-11T10:15:00.279Z\"},{\"id\":\"cme6rjjuv0000g9p0b6hahxbj\",\"slug\":\"nina-qa\",\"name\":\"Nina QA\",\"description\":\"Nina trying the new column slug structure\",\"created_at\":\"2025-08-11T10:00:21.703Z\",\"updated_at\":\"2025-08-11T10:01:10.852Z\"},{\"id\":\"cme6v0nlw000001ug1l71s02t\",\"slug\":\"test-dataset-2025-08-11t08-37-37-816z\",\"name\":\"test-dataset-2025-08-11T08-37-37-816Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-11T08:37:38.564Z\",\"updated_at\":\"2025-08-11T08:37:38.564Z\"}],\"total\":6}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
