{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Row Management/should add single row to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ae4728bc10d2e34cf1454dc2d6e72605",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 433,
            "text": "{\"id\":\"cmeq8geha009d01y1ds0iolty\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"Updated Comprehensive Test Dataset\",\"description\":\"Updated description for comprehensive testing\",\"columns\":{\"custom-score-slug\":{\"name\":\"Score\",\"type\":\"number\"},\"name\":{\"slug\":\"name\",\"name\":\"Updated Name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2025-08-24T22:01:25.583Z\",\"updated_at\":\"2025-08-24T22:01:28.188Z\",\"rows\":[],\"total_rows\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      },
      {
        "_id": "1bb2d6458ceee1d856f9cd86dba38b22",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"custom-score-slug\":42,\"name\":\"Test Value\"}]}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-comprehensive-example/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 215,
            "text": "{\"rows\":[{\"id\":\"cmeq8gh2z009e01y1zqxuk4jw\",\"row_index\":1,\"values\":{\"custom-score-slug\":42,\"name\":\"Test Value\"},\"created_at\":\"2025-08-24T22:01:28.959459857Z\",\"updated_at\":\"2025-08-24T22:01:28.959459857Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 199,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
