{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Row Management/should add single row to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7748863a2f0df686ab9c15f5c1032075",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 432,
            "text": "{\"id\":\"cmnrfx17l000u01u8iem2fnhs\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"Updated Comprehensive Test Dataset\",\"description\":\"Updated description for comprehensive testing\",\"columns\":{\"custom-score-slug\":{\"name\":\"Score\",\"type\":\"number\"},\"name\":{\"slug\":\"name\",\"name\":\"Updated Name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2026-04-09T12:15:26.05Z\",\"updated_at\":\"2026-04-09T12:15:27.711Z\",\"rows\":[],\"total_rows\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 149,
      },
      {
        "_id": "61aabafee27d035c9559701a2c1a6324",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"custom-score-slug\":42,\"name\":\"Test Value\"}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 215,
            "text": "{\"rows\":[{\"id\":\"cmnrfx2yh000v01u88pg2roeq\",\"row_index\":1,\"values\":{\"custom-score-slug\":42,\"name\":\"Test Value\"},\"created_at\":\"2026-04-09T12:15:28.314523093Z\",\"updated_at\":\"2026-04-09T12:15:28.314523093Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 152,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
