{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Error Handling/should handle invalid row data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "06331f90ee133d8ca1b250204f0dfdeb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.22.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"error-test-5678\",\"description\":\"Temporary dataset for error testing\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 24,
            "text": "{\"error\":\"Unauthorized\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 233,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
