{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Error Handling/should handle invalid row data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "da8ef5e01299a18be64813fa6cb65ffd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"error-test-5678\",\"description\":\"Temporary dataset for error testing\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 228,
            "text": "{\"id\":\"cmeq8gmhr009n01y1i92jfaj6\",\"slug\":\"error-test-5678\",\"name\":\"error-test-5678\",\"description\":\"Temporary dataset for error testing\",\"created_at\":\"2025-08-24T22:01:35.967221979Z\",\"updated_at\":\"2025-08-24T22:01:35.967222031Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 181,
      },
      {
        "_id": "dff9f7398b399cec5c0f79ea4dba6489",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{}]}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/error-test-5678/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 173,
            "text": "{\"rows\":[{\"id\":\"cmeq8gmn9009o01y1c10fcqy1\",\"row_index\":1,\"values\":{},\"created_at\":\"2025-08-24T22:01:36.167838535Z\",\"updated_at\":\"2025-08-24T22:01:36.167838535Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 202,
      },
      {
        "_id": "adb85903cf38ccc63344cc250b41009b",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/error-test-5678"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 190,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
