{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Error Handling/should handle invalid row data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "32765552077d8ec565d3a50932182360",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"error-test-5678\",\"description\":\"Temporary dataset for error testing\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 228,
            "text": "{\"id\":\"cmnrfx7b0001401u89vwi8yi6\",\"slug\":\"error-test-5678\",\"name\":\"error-test-5678\",\"description\":\"Temporary dataset for error testing\",\"created_at\":\"2026-04-09T12:15:33.948220785Z\",\"updated_at\":\"2026-04-09T12:15:33.948220857Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 148,
      },
      {
        "_id": "020d73f569c8c56c1aefdd04bc0cab03",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/error-test-5678/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 171,
            "text": "{\"rows\":[{\"id\":\"cmnrfx7f7001501u8fkx233ve\",\"row_index\":1,\"values\":{},\"created_at\":\"2026-04-09T12:15:34.10068614Z\",\"updated_at\":\"2026-04-09T12:15:34.10068614Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 153,
      },
      {
        "_id": "734e13a46929ddce0ffb3f4ce92607df",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/error-test-5678"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
