{
  "log": {
    "_recordingName": "Test Pinecone instrumentation/should set attributes in span for DB deletes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "973ce6e359a848bafd751dfc6a1cf4eb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 476,
            "text": "{\"indexes\":[{\"name\":\"pincone-instrumentation-test\",\"metric\":\"cosine\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}},{\"name\":\"quickstart\",\"metric\":\"euclidean\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"quickstart-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "907fdaf1963b2a32321e2b51aa6fc055"
            },
            {
              "name": "x-pinecone-api-version",
              "value": "2024-04"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 391,
      },
      {
        "_id": "6ad32f1905ae86de05946ba5b4176041",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes/pincone-instrumentation-test"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"name\":\"pincone-instrumentation-test\",\"metric\":\"cosine\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "9281d35e86341d72547116ef4158a56c"
            },
            {
              "name": "x-pinecone-api-version",
              "value": "2024-04"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 419,
      },
      {
        "_id": "94781606ce6147e3c0a20c719f2b6f79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ids\":[\"vec1\"],\"namespace\":\"ns1\"}"
          },
          "queryString": [],
          "url": "https://pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io/vectors/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-sta[...]
