{
  "log": {
    "_recordingName": "Dataset Integration Test/should list datasets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "00e92fb484e883420717643170fdb45c",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets?page=1&limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 6261,
            "text": "{\"datasets\":[{\"id\":\"cmdzt0lg900sm01u4s8g81r0c\",\"slug\":\"integration-test-2025-08-06t10-07-13-011z\",\"name\":\"integration-test-2025-08-06T10-07-13-011Z\",\"description\":\"Updated integration test dataset\",\"created_at\":\"2025-08-06T10:07:13.306Z\",\"updated_at\":\"2025-08-06T10:07:14.387Z\"},{\"id\":\"cmdzt05aq00sk01u49lcdcubv\",\"slug\":\"test-dataset-2025-08-06t10-06-51-685z\",\"name\":\"test-dataset-2025-08-06T10-06-51-685Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-06T10:06:52.371Z\",\"updated_at\":\"2025-08-06T10:06:52.944Z\"},{\"id\":\"cmdzsufgm00si01u4a8uvrili\",\"slug\":\"test-dataset-2025-08-06t10-02-25-321z\",\"name\":\"test-dataset-2025-08-06T10-02-25-321Z\",\"description\":\"Test dataset for recording\",\"creat[...]
