{
  "log": {
    "_recordingName": "Test Pinecone instrumentation/should set attributes in span for DB query",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "973ce6e359a848bafd751dfc6a1cf4eb",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 476,
            "text": "{\"indexes\":[{\"name\":\"pincone-instrumentation-test\",\"metric\":\"cosine\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}},{\"name\":\"quickstart\",\"metric\":\"euclidean\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"quickstart-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "9a0c0b26470aa2ff33f16005469a8af2"
            },
            {
              "name": "x-pinecone-api-version",
              "value": "2024-04"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 520,
      },
      {
        "_id": "6ad32f1905ae86de05946ba5b4176041",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.pinecone.io/indexes/pincone-instrumentation-test"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"name\":\"pincone-instrumentation-test\",\"metric\":\"cosine\",\"dimension\":8,\"status\":{\"ready\":true,\"state\":\"Ready\"},\"host\":\"pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io\",\"spec\":{\"serverless\":{\"region\":\"us-east-1\",\"cloud\":\"aws\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "ff6b3b019ee69aba595b7376367d3b8f"
            },
            {
              "name": "x-pinecone-api-version",
              "value": "2024-04"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401,
      },
      {
        "_id": "16a3f8ced8ec392d85d1f7f6121ac5ea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"namespace\":\"ns1\",\"topK\":3,\"includeValues\":true,\"includeMetadata\":true,\"vector\":[0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3]}"
          },
          "queryString": [],
          "url": "https://pincone-instrumentation-test-i5qrol6.svc.aped-4627-b74a.pinecone.io/query"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 297,
            "text": "{\"results\":[],\"matches\":[{\"id\":\"vec2\",\"score\":1,\"values\":[0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2]},{\"id\":\"vec3\",\"score\":1,\"values\":[0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3],\"metadata\":{\"test_meta\":42}},{\"id\":\"vec1\",\"score\":1,\"values\":[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]}],\"namespace\":\"ns1\",\"usage\":{\"readUnits\":6}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-status",
              "value": "0"
            },
            {
              "name": "x-pinecone-max-indexed-lsn",
              "value": "1"
            },
            {
              "name": "x-pinecone-request-id",
              "value": "2671526720955016309"
            },
            {
              "name": "x-pinecone-request-latency-ms",
              "value": "81"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
