{
  "log": {
    "_recordingName": "Test Pinecone instrumentation/should set attributes in span for DB query",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f66a36afd832b48fbd5bc0354289943f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"deleteAll\":true,\"namespace\":\"ns1\"}"
          },
          "queryString": [],
          "url": "https://tests-wujirot.svc.apw5-4e34-81fa.pinecone.io/vectors/delete"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-status",
              "value": "0"
            },
            {
              "name": "x-pinecone-request-latency-ms",
              "value": "51"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 386,
      },
      {
        "_id": "06c4c271f12bc4fc8462a05bfee87380",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"vectors\":[{\"id\":\"vec1\",\"values\":[0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]},{\"id\":\"vec2\",\"values\":[0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2]},{\"id\":\"vec3\",\"values\":[0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3],\"metadata\":{\"test_meta\":42}},{\"id\":\"vec4\",\"values\":[0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4]}],\"namespace\":\"ns1\"}"
          },
          "queryString": [],
          "url": "https://tests-wujirot.svc.apw5-4e34-81fa.pinecone.io/vectors/upsert"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 19,
            "text": "{\"upsertedCount\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-status",
              "value": "0"
            },
            {
              "name": "x-pinecone-request-latency-ms",
              "value": "86"
            },
            {
              "name": "x-pinecone-request-lsn",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 421,
      },
      {
        "_id": "c652df799e470321f2aeae2f6fd92b3a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"namespace\":\"ns1\",\"topK\":3,\"includeValues\":true,\"includeMetadata\":true,\"vector\":[0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3]}"
          },
          "queryString": [],
          "url": "https://tests-wujirot.svc.apw5-4e34-81fa.pinecone.io/query"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 319,
            "text": "{\"results\":[],\"matches\":[{\"id\":\"vec3\",\"score\":0,\"values\":[0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3],\"metadata\":{\"test_meta\":42}},{\"id\":\"vec4\",\"score\":0.0799999237,\"values\":[0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4]},{\"id\":\"vec2\",\"score\":0.0800000429,\"values\":[0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2]}],\"namespace\":\"ns1\",\"usage\":{\"readUnits\":6}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "grpc-status",
              "value": "0"
            },
            {
              "name": "x-pinecone-max-indexed-lsn",
              "value": "1"
            },
            {
              "name": "x-pinecone-request-latency-ms",
              "value": "3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1550,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
