{
  "log": {
    "_recordingName": "Test Dataset API Recording/Column Operations/should add columns to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c67a372dd00ad11518ce49492c2848f0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"name\",\"type\":\"string\",\"required\":true,\"description\":\"Name column\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t10-06-51-685z/columns"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 323,
            "text": "{\"id\":\"cmdzt05aq00sk01u49lcdcubv\",\"slug\":\"test-dataset-2025-08-06t10-06-51-685z\",\"name\":\"test-dataset-2025-08-06T10-06-51-685Z\",\"description\":\"Test dataset for recording\",\"columns\":{\"cmdzt05qn00sl01u4gs81wqfz\":{\"name\":\"name\",\"type\":\"string\"}},\"created_at\":\"2025-08-06T10:06:52.371Z\",\"updated_at\":\"2025-08-06T10:06:52.371Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
