{
  "log": {
    "_recordingName": "Test Dataset API Recording/Column Operations/should add columns to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8a1b0ab9435231eb2f6f7e60526d5dfc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"name\",\"type\":\"string\",\"required\":true,\"description\":\"Name column\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t09-45-23-083z/columns"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 335,
            "text": "{\"id\":\"cmdzs8j0x00s901u4q1ygbcsl\",\"slug\":\"test-dataset-2025-08-06t09-45-23-083z\",\"name\":\"test-dataset-2025-08-06T09-45-23-083Z\",\"description\":\"Updated description for recording test\",\"columns\":{\"cmdzs8jqp00sa01u4isvdr46l\":{\"name\":\"name\",\"type\":\"string\"}},\"created_at\":\"2025-08-06T09:45:23.794Z\",\"updated_at\":\"2025-08-06T09:45:24.352Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 179,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
