{
  "log": {
    "_recordingName": "Test Dataset API Recording/Column Operations/should add columns to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c2fc37e9e7b85e44b2b117484d2f0aef",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"name\",\"type\":\"string\",\"required\":true,\"description\":\"Name column\"}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets/test-dataset-2025-08-06t09-09-31-191z/columns"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 333,
            "text": "{\"id\":\"cmdzqyeoi00r101u4q8wmcdi0\",\"slug\":\"test-dataset-2025-08-06t09-09-31-191z\",\"name\":\"test-dataset-2025-08-06T09-09-31-191Z\",\"description\":\"Updated description for recording test\",\"columns\":{\"cmdzqyfii00r201u40iy7a5qx\":{\"name\":\"name\",\"type\":\"string\"}},\"created_at\":\"2025-08-06T09:09:31.987Z\",\"updated_at\":\"2025-08-06T09:09:32.7Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
