{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Column Management/should get all columns from dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ae4728bc10d2e34cf1454dc2d6e72605",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 411,
            "text": "{\"id\":\"cmeq8geha009d01y1ds0iolty\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"Updated Comprehensive Test Dataset\",\"description\":\"Updated description for comprehensive testing\",\"columns\":{\"custom-score-slug\":{\"name\":\"Score\",\"type\":\"number\"},\"name\":{\"name\":\"name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2025-08-24T22:01:25.583Z\",\"updated_at\":\"2025-08-24T22:01:27.609Z\",\"rows\":[],\"total_rows\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
