{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Dataset Management/should list all datasets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f73d6487401f49824b0b1b65d37a5bd",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.22.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 24,
            "text": "{\"error\":\"Unauthorized\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 281,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
