{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Dataset Management/should list all datasets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6cb81e217939a9af17d3f1a123e11305",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 792,
            "text": "{\"datasets\":[{\"id\":\"cmeq8geha009d01y1ds0iolty\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"test-dataset-comprehensive-example\",\"description\":\"Comprehensive test dataset\",\"created_at\":\"2025-08-24T22:01:25.583Z\",\"updated_at\":\"2025-08-24T22:01:25.583Z\"},{\"id\":\"cmekarus5002k01ubv61xdf2i\",\"slug\":\"nirs-test\",\"name\":\"Nir's Test\",\"created_at\":\"2025-08-20T18:19:42.101Z\",\"updated_at\":\"2025-08-20T18:20:26.028Z\"},{\"id\":\"cmejyif12000701ub4aau7usr\",\"slug\":\"questions-with-sentiment\",\"name\":\"Questions with Sentiment\",\"created_at\":\"2025-08-20T12:36:26.391Z\",\"updated_at\":\"2025-08-20T12:36:40.742Z\"},{\"id\":\"cmejpwwqy000001wwm6aq8xh5\",\"slug\":\"travel-planning-questions\",\"name\":\"Travel Planning Questions\",\"created_at\":\"2025-08-20T08:35:45.994Z\",\"updated_at\":\"2025-08-20T18:18:24.496Z\"}],\"total\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 183,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
