{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Row Management/should validate row data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ae4728bc10d2e34cf1454dc2d6e72605",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1169,
            "text": "{\"id\":\"cmeq8geha009d01y1ds0iolty\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"Updated Comprehensive Test Dataset\",\"description\":\"Updated description for comprehensive testing\",\"columns\":{\"custom-score-slug\":{\"name\":\"Score\",\"type\":\"number\"},\"name\":{\"slug\":\"name\",\"name\":\"Updated Name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2025-08-24T22:01:25.583Z\",\"updated_at\":\"2025-08-24T22:01:28.188Z\",\"rows\":[{\"id\":\"cmeq8ghdp009f01y1eswjdmx3\",\"row_index\":2,\"values\":{\"custom-score-slug\":0,\"name\":\"Test Value 0\"},\"created_at\":\"2025-08-24T22:01:29.344Z\",\"updated_at\":\"2025-08-24T22:01:29.344Z\"},{\"id\":\"cmeq8ghdp009g01y1o0cpsy5l\",\"row_index\":3,\"values\":{\"custom-score-slug\":10,\"name\":\"Test Value 1\"},\"created_at\":\"2025-08-24T22:01:29.344Z\",\"updated_at\":\"2025-08-24T22:01:29.344Z\"},{\"id\":\"cmeq8ghdp009h01y197n524mg\",\"row_index\":4,\"values\":{\"custom-score-slug\":20,\"name\":\"Test Value 2\"},\"created_at\":\"2025-08-24T22:01:29.344Z\",\"updated_at\":\"2025-08-24T22:01:29.344Z\"},{\"id\":\"cmeq8gh2z009e01y1zqxuk4jw\",\"row_index\":1,\"values\":{\"custom-score-slug\":\"Partial Update Value\"},\"created_at\":\"2025-08-24T22:01:28.959Z\",\"updated_at\":\"2025-08-24T22:01:30.964Z\"}],\"total_rows\":4}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 183,
      },
      {
        "_id": "c3c1bf22d2edec31d0ebe479d7e85271",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": [...]
