{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Column Operations/should get columns from dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "085d57bdeee41d744ffe3664c96e91df",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-2025-08-11t08-38-49-772z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 406,
            "text": "{\"id\":\"cme6v271k000v01ug31eit2qc\",\"slug\":\"test-dataset-2025-08-11t08-38-49-772z\",\"name\":\"test-dataset-2025-08-11T08-38-49-772Z\",\"description\":\"Updated description for recording test\",\"columns\":{\"cme6v27xq000w01ug2dlhzmul\":{\"name\":\"name\",\"type\":\"string\"},\"cme6v282v000x01ugkxh7zfe2\":{\"name\":\"score\",\"type\":\"number\"}},\"created_at\":\"2025-08-11T08:38:50.409Z\",\"updated_at\":\"2025-08-11T08:38:51.752Z\",\"rows\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
