{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Cleanup/should delete the test dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "085d57bdeee41d744ffe3664c96e91df",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-2025-08-11t08-38-49-772z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1896,
            "text": "{\"id\":\"cme6v271k000v01ug31eit2qc\",\"slug\":\"test-dataset-2025-08-11t08-38-49-772z\",\"name\":\"test-dataset-2025-08-11T08-38-49-772Z\",\"description\":\"Updated description for recording test\",\"columns\":{\"cme6v27xq000w01ug2dlhzmul\":{\"name\":\"name\",\"type\":\"string\"},\"cme6v282v000x01ugkxh7zfe2\":{\"name\":\"score\",\"type\":\"number\"}},\"created_at\":\"2025-08-11T08:38:50.409Z\",\"updated_at\":\"2025-08-11T08:38:51.752Z\",\"rows\":[{\"id\":\"cme6v28nr000y01ugysvl235n\",\"row_index\":1,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"John Doe\",\"cme6v282v000x01ugkxh7zfe2\":85},\"created_at\":\"2025-08-11T08:38:52.505Z\",\"updated_at\":\"2025-08-11T08:38:52.505Z\"},{\"id\":\"cme6v28y2000z01ugrjuqwdqu\",\"row_index\":2,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"Jane Smith\",\"cme6v282v000x01ugkxh7zfe2\":92},\"created_at\":\"2025-08-11T08:38:52.876Z\",\"updated_at\":\"2025-08-11T08:38:52.876Z\"},{\"id\":\"cme6v28y2001001ugrw3jm9kv\",\"row_index\":3,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"B[...]
