{
  "log": {
    "_recordingName": "Dataset API Recording Tests/Row Operations/should add multiple rows to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "085d57bdeee41d744ffe3664c96e91df",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-2025-08-11t08-38-49-772z"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 615,
            "text": "{\"id\":\"cme6v271k000v01ug31eit2qc\",\"slug\":\"test-dataset-2025-08-11t08-38-49-772z\",\"name\":\"test-dataset-2025-08-11T08-38-49-772Z\",\"description\":\"Updated description for recording test\",\"columns\":{\"cme6v27xq000w01ug2dlhzmul\":{\"name\":\"name\",\"type\":\"string\"},\"cme6v282v000x01ugkxh7zfe2\":{\"name\":\"score\",\"type\":\"number\"}},\"created_at\":\"2025-08-11T08:38:50.409Z\",\"updated_at\":\"2025-08-11T08:38:51.752Z\",\"rows\":[{\"id\":\"cme6v28nr000y01ugysvl235n\",\"row_index\":1,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"John Doe\",\"cme6v282v000x01ugkxh7zfe2\":85},\"created_at\":\"2025-08-11T08:38:52.505Z\",\"updated_at\":\"2025-08-11T08:38:52.505Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 180,
      },
      {
        "_id": "19a4703f0077b9f07d7c2378181e6df7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"cme6v27xq000w01ug2dlhzmul\":\"Jane Smith\",\"cme6v282v000x01ugkxh7zfe2\":92},{\"cme6v27xq000w01ug2dlhzmul\":\"Bob Johnson\",\"cme6v282v000x01ugkxh7zfe2\":78},{\"cme6v27xq000w01ug2dlhzmul\":\"Alice Brown\",\"cme6v282v000x01ugkxh7zfe2\":95}]}"
          },
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-2025-08-11t08-38-49-772z/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 688,
            "text": "{\"rows\":[{\"id\":\"cme6v28y2000z01ugrjuqwdqu\",\"row_index\":2,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"Jane Smith\",\"cme6v282v000x01ugkxh7zfe2\":92},\"created_at\":\"2025-08-11T08:38:52.87606282Z\",\"updated_at\":\"2025-08-11T08:38:52.87606282Z\"},{\"id\":\"cme6v28y2001001ugrw3jm9kv\",\"row_index\":3,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"Bob Johnson\",\"cme6v282v000x01ugkxh7zfe2\":78},\"created_at\":\"2025-08-11T08:38:52.87606282Z\",\"updated_at\":\"2025-08-11T08:38:52.87606282Z\"},{\"id\":\"cme6v28y2001101ug06wd09ut\",\"row_index\":4,\"values\":{\"cme6v27xq000w01ug2dlhzmul\":\"Alice Brown\",\"cme6v282v000x01ugkxh7zfe2\":95},\"created_at\":\"2025-08-11T08:38:52.87606282Z\",\"updated_at\":\"2025-08-11T08:38:52.87606282Z\"}],\"total\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 186,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
