{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Error Handling/should handle invalid dataset slug",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6cefdc4e27e6ee37ee3a489859f044dd",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/invalid-slug-that-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 29,
            "text": "{\"error\":\"Dataset not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
