{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Error Handling/should handle invalid dataset slug",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ab0dd872427fe1bd22966932d89f926f",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.com/v2/datasets/invalid-slug-that-does-not-exist"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 24,
            "text": "{\"error\":\"Unauthorized\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
