{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should set attachment on existing row (gracefully skips when upload endpoint unavailable)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "073eb84add402fb5e356cfe6736f995e",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 722,
            "text": "{\"id\":\"cmnvl47hx000001ws87efct3i\",\"slug\":\"attachment-test-dataset\",\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\",\"columns\":{\"document\":{\"name\":\"document\",\"type\":\"file\"},\"name\":{\"name\":\"name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2026-04-12T09:52:03.573Z\",\"updated_at\":\"2026-04-12T09:52:04.361Z\",\"rows\":[{\"id\":\"cmnvl48cb000101wsiqo5lbgq\",\"row_index\":1,\"values\":{\"document\":null,\"name\":\"Test Document\"},\"created_at\":\"2026-04-12T09:52:04.669Z\",\"updated_at\":\"2026-04-12T09:52:04.669Z\"},{\"id\":\"cmnvl48p4000201wshin8ubtx\",\"row_index\":2,\"values\":{\"document\":null,\"name\":\"Buffer Test\"},\"created_at\":\"2026-04-12T09:52:05.129Z\",\"updated_at\":\"2026-04-12T09:52:05.129Z\"}],\"total_rows\":2}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153,
      },
      {
        "_id": "1045935a90e5e9ee179819d500543fed",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"name\":\"Row for attachment update\",\"document\":null}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 223,
            "text": "{\"rows\":[{\"id\":\"cmnvl491z000301wsiym3wtsz\",\"row_index\":3,\"values\":{\"document\":null,\"name\":\"Row for attachment update\"},\"created_at\":\"2026-04-12T09:52:05.591726508Z\",\"updated_at\":\"2026-04-12T09:52:05.591726508Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 150,
      },
      {
        "_id": "15e2a2964e108c064f4d0c7f847b3d67",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"file\",\"url\":\"https://example.com/updated-doc.pdf\"}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows/cmnvl491z000301wsiym3wtsz/cells/document/external-url"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 18,
            "text": "404 page not found"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
