{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should add row with external attachment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "073eb84add402fb5e356cfe6736f995e",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 367,
            "text": "{\"id\":\"cmnrfwzbp000q01u81hl45q6m\",\"slug\":\"attachment-test-dataset\",\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\",\"columns\":{\"document\":{\"name\":\"document\",\"type\":\"file\"},\"name\":{\"name\":\"name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2026-04-09T12:15:23.605Z\",\"updated_at\":\"2026-04-09T12:15:24.386Z\",\"rows\":[],\"total_rows\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148,
      },
      {
        "_id": "5a7d004598cea909657b74b7a57290f9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"name\":\"Test Document\",\"document\":null}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"rows\":[{\"id\":\"cmnrfx05v000r01u86xmgq1pn\",\"row_index\":1,\"values\":{\"document\":null,\"name\":\"Test Document\"},\"created_at\":\"2026-04-09T12:15:24.694536179Z\",\"updated_at\":\"2026-04-09T12:15:24.694536179Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 161,
      },
      {
        "_id": "7543e24b53cfd0c9f24dad3141c46524",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"file\",\"url\":\"https://example.com/sample.pdf\",\"metadata\":{\"pages\":10}}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows/cmnrfx05v000r01u86xmgq1pn/cells/document/external-url"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 18,
            "text": "404 page not found"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 145,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
