{
  "log": {
    "_recordingName": "Attachment API Integration Tests/Dataset with File Column/should add row with external attachment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "073eb84add402fb5e356cfe6736f995e",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.21.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 367,
            "text": "{\"id\":\"cmieo347e000c01r7u2vdtwej\",\"slug\":\"attachment-test-dataset\",\"name\":\"attachment-test-dataset\",\"description\":\"Dataset for testing attachments\",\"columns\":{\"document\":{\"name\":\"document\",\"type\":\"file\"},\"name\":{\"name\":\"name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2025-11-25T14:24:34.826Z\",\"updated_at\":\"2025-11-25T14:24:35.652Z\",\"rows\":[],\"total_rows\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      },
      {
        "_id": "5a7d004598cea909657b74b7a57290f9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.21.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"name\":\"Test Document\",\"document\":null}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"rows\":[{\"id\":\"cmieo3534000d01r7ii2j55ap\",\"row_index\":1,\"values\":{\"document\":null,\"name\":\"Test Document\"},\"created_at\":\"2025-11-25T14:24:35.970019388Z\",\"updated_at\":\"2025-11-25T14:24:35.970019388Z\"}],\"total\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 160,
      },
      {
        "_id": "4ac4ce1ab01707b3199acd7677f429c2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.21.1"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"file\",\"url\":\"https://example.com/sample.pdf\",\"metadata\":{\"pages\":10}}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/attachment-test-dataset/rows/cmieo3534000d01r7ii2j55ap/cells/document/external-url"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 76,
            "text": "{\"storage\":\"external\",\"success\":true,\"url\":\"https://example.com/sample.pdf\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
