{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Cleanup Operations/should delete dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d7103a4d41966b980918b00dc5dfa93f",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 154,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
