{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Cleanup Operations/should delete dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e024ed631bd18cbdc8c04aa1c72097f0",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.18.0"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api-staging.traceloop.com/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 194,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
