{
  "log": {
    "_recordingName": "Test Langchain instrumentation/should set attributes in span for tools instrumentation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "926cd215cc39afa1cae6237de5d30ce8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "Langchain"
            },
            {
              "name": "format",
              "value": "json"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Langchain&format=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3119,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"searchinfo\":{\"totalhits\":9,\"suggestion\":\"lang chain\",\"suggestionsnippet\":\"lang chain\"},\"search\":[{\"ns\":0,\"title\":\"LangChain\",\"pageid\":73577626,\"size\":20125,\"wordcount\":884,\"snippet\":\"Free and open-source software portal <span class=\\\"searchmatch\\\">LangChain</span> is a software framework that helps facilitate the integration of large language models (LLMs) into applications\",\"timestamp\":\"2025-08-03T10:28:57Z\"},{\"ns\":0,\"title\":\"Vector database\",\"pageid\":74020014,\"size\":24769,\"wordcount\":1700,\"snippet\":\"at master \\u00b7 weaviate/weaviate&quot;. GitHub. Retrieved 2023-10-29. &quot;<span class=\\\"searchmatch\\\">Langchain</span> YDB&quot;. <span class=\\\"searchmatch\\\">Langchain</span>. Retrieved 2025-07-26. &quot;Vector Search&quot;. Retrieved 2025-07-26.\",\"timestamp\":\"2025-08-10T17:47:49Z\"},{\"ns\":0,\"title\":\"Retrieval-augmented generation\",\"pageid\[...]
