{
  "log": {
    "_recordingName": "Test Langchain instrumentation/should set attributes in span for tools instrumentation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "926cd215cc39afa1cae6237de5d30ce8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "Langchain"
            },
            {
              "name": "format",
              "value": "json"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Langchain&format=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3068,
            "text": "{\"batchcomplete\":\"\",\"query\":{\"searchinfo\":{\"totalhits\":9,\"suggestion\":\"lang chain\",\"suggestionsnippet\":\"lang chain\"},\"search\":[{\"ns\":0,\"title\":\"LangChain\",\"pageid\":73577626,\"size\":18587,\"wordcount\":748,\"snippet\":\"Free and open-source software portal <span class=\\\"searchmatch\\\">LangChain</span> is a software framework that helps facilitate the integration of large language models (LLMs) into applications\",\"timestamp\":\"2025-06-22T02:48:58Z\"},{\"ns\":0,\"title\":\"Model Context Protocol\",\"pageid\":79706999,\"size\":18473,\"wordcount\":1630,\"snippet\":\"computers or programsPages displaying short descriptions of redirect targets <span class=\\\"searchmatch\\\">LangChain</span>\\u00a0\\u2013 Language model application development framework Machine learning\\u00a0\\u2013\",\"timestamp\":\"2025-07-09T19:03:57Z\"},{\"ns\":0,\"title\":\"Retrieval-augmented generation\",\"pageid\":75229858,\"size\":24381,\"wordc[...]
