{
  "log": {
    "_recordingName": "Experiment Export Tests/Export Methods/should export experiment results as CSV with explicit parameters",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "79974bd1e8d00362ece336443176b737",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.com/v2/experiments/test-experiment-slug/runs/test-run-id/export/csv"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 24,
            "text": "{\"error\":\"Unauthorized\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-content-type",
              "value": "nosniff"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 604,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
