{
  "log": {
    "_recordingName": "Dataset API Comprehensive Tests/Row Management/should add multiple rows to dataset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7748863a2f0df686ab9c15f5c1032075",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 614,
            "text": "{\"id\":\"cmnrfx17l000u01u8iem2fnhs\",\"slug\":\"test-dataset-comprehensive-example\",\"name\":\"Updated Comprehensive Test Dataset\",\"description\":\"Updated description for comprehensive testing\",\"columns\":{\"custom-score-slug\":{\"name\":\"Score\",\"type\":\"number\"},\"name\":{\"slug\":\"name\",\"name\":\"Updated Name\",\"type\":\"string\"}},\"total_columns\":2,\"created_at\":\"2026-04-09T12:15:26.05Z\",\"updated_at\":\"2026-04-09T12:15:27.711Z\",\"rows\":[{\"id\":\"cmnrfx2yh000v01u88pg2roeq\",\"row_index\":1,\"values\":{\"custom-score-slug\":42,\"name\":\"Test Value\"},\"created_at\":\"2026-04-09T12:15:28.315Z\",\"updated_at\":\"2026-04-09T12:15:28.315Z\"}],\"total_rows\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      },
      {
        "_id": "e81af1dc9e1c078f87d2f4d076363d24",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.24.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"Rows\":[{\"custom-score-slug\":0,\"name\":\"Test Value 0\"},{\"custom-score-slug\":10,\"name\":\"Test Value 1\"},{\"custom-score-slug\":20,\"name\":\"Test Value 2\"}]}"
          },
          "queryString": [],
          "url": "https://api.traceloop.dev/v2/datasets/test-dataset-comprehensive-example/rows"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 598,
            "text": "{\"rows\":[{\"id\":\"cmnrfx36t000w01u8wkpoi40e\",\"row_index\":2,\"values\":{\"custom-score-slug\":0,\"name\":\"Test Value 0\"},\"created_at\":\"2026-04-09T12:15:28.6153433Z\",\"updated_at\":\"2026-04-09T12:15:28.6153433Z\"},{\"id\":\"cmnrfx36t000x01u8jqdpxp9o\",\"row_index\":3,\"values\":{\"custom-score-slug\":10,\"name\":\"Test Value 1\"},\"created_at\":\"2026-04-09T12:15:28.6153433Z\",\"updated_at\":\"2026-04-09T12:15:28.6153433Z\"},{\"id\":\"cmnrfx36t000y01u8fndebb4r\",\"row_index\":4,\"values\":{\"custom-score-slug\":20,\"name\":\"Test Value 2\"},\"created_at\":\"2026-04-09T12:15:28.6153433Z\",\"updated_at\":\"2026-04-09T12:15:28.6153433Z\"}],\"total\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 184,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
