{
  "log": {
    "_recordingName": "Test Dataset API Recording/Dataset Creation and Management/should list datasets",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "00e92fb484e883420717643170fdb45c",
        "request": {
          "headers": [
            {
              "name": "x-traceloop-sdk-version",
              "value": "0.14.1"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api-staging.traceloop.com/v2/projects/default/datasets?page=1&limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4437,
            "text": "{\"datasets\":[{\"id\":\"cmdzqyeoi00r101u4q8wmcdi0\",\"slug\":\"test-dataset-2025-08-06t09-09-31-191z\",\"name\":\"test-dataset-2025-08-06T09-09-31-191Z\",\"description\":\"Test dataset for recording\",\"created_at\":\"2025-08-06T09:09:31.987Z\",\"updated_at\":\"2025-08-06T09:09:31.987Z\"},{\"id\":\"cmdx5ky4a00bf01u4qv7gpdxs\",\"slug\":\"asdasd\",\"name\":\"asdasd\",\"created_at\":\"2025-08-04T13:35:39.706Z\",\"updated_at\":\"2025-08-04T13:36:57.872Z\"},{\"id\":\"cmdx5ham600b901u4g37iqjfa\",\"slug\":\"asda\",\"name\":\"asda\",\"created_at\":\"2025-08-04T13:32:49.278Z\",\"updated_at\":\"2025-08-04T13:33:03.433Z\"},{\"id\":\"cmdx4yawl00a001u4849q7zg3\",\"slug\":\"vadym-test-4\",\"name\":\"Vadym test 4\",\"created_at\":\"2025-08-04T13:18:03.189Z\",\"upda[...]
